article {
    display: flex;
    margin: 0 2em;
    flex-direction: column;
    background-color: #1c3146;
    border: 2px solid;
    border-color: white;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    align-self: center;
}


.mainButton {
    position: relative;
    top: 0;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: 'Carter One', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
    border: none;
    margin: 15px 15px 30px;
    background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255,255,255,.3);
    color: #ffffff;
    border-radius: 8px;
    padding: 8px 15px 10px;
   
  }
  .mainButton:hover {
    top:2px;

  }
  .mainButton::before {
    content: '';
    height: 10%;
    position: absolute;
    width: 40%;
    background: #fff;
    right: 13%;
    top: -3%;
    border-radius: 99px;
    }
    .mainButton::after {
    content: '';
    height: 10%;
    position: absolute;
    width: 5%;
    background: #fff;
    right: 5%;
    top: -3%;
    border-radius: 99px;
    }

main {
    text-align: center;
}

#choiceMenuDiv {
    width: 90%;
    height: 90%;
    padding: 0 5% 5% 5%;
    


}
.buttonMenu {
    background-color: #1c3146;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

.actionMenu {
    height: 10%;

}

article h1 {
    height: 10%;
}

article p {
    height: 20%;
    text-size-adjust: auto;
}