article {
    display: flex;
    margin: 0 2em;
    flex-direction: column;
    background-color: #1c3146;
    border: 2px solid;
    border-color: white;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    align-self: center;
}




main {
    text-align: center;
}

#choiceMenuDiv {
    width: 90%;
    height: 90%;
    padding: 0 5% 5% 5%;
    


}
.buttonMenu {
    background-color: #1c3146;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

.actionMenu {
    height: 10%;

}

article h1 {
    height: 10%;
}

article p {
    height: 20%;
    text-size-adjust: auto;
}