* {
    margin: 0;
}

body {
    margin: 0;
    background-color: #071d34;
    color: white;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-auto-rows: 20vh 70vh 10vh;
}

/* Grid Placement */
main {
    grid-column: 2;
    grid-row: 2;
}

#leftAside {
    grid-column: 1;
    grid-row: 2;

}

#rightAside {
    grid-column: 3;
    grid-row: 2;

}



/* header style */
header {
    grid-column: 1 / -1;
    grid-row: 1;
    /* background:  url(../images/webBanner.jpg) no-repeat center center;
    background-size: cover;  */
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;


}


.firstLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 10vh;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: solid 2px;
    max-width: 100%;
    max-height: 10vh;
    width: auto;
    height: auto;
}


.title {
    width: 50%;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: #1bddaa;
    outline: none;
    text-align: center;
}

.title:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 2px;
}



/* nav style */
nav {
    background-color: #1c3146;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul a {
    margin: 10px 0;
    padding: 10px 0;
    width: 20%;
    border: 3px solid;
    border-color: white;

    list-style: none;
    background-color: #071d34;
    color: white;
    font-style: none;
    text-decoration: none;
}

nav ul a:hover {
    border-color: #1bddaa;

    list-style: none;
    background-color: #1c3146;
    color: #1bddaa;
    font-style: none;
    text-decoration: none;
}


/* footer style */

footer {
    grid-column: 1 / -1;
    grid-row: 3;
    /* width: 100%; */
    background-color: #1c3146;
    display: flex;
    justify-content: space-around;
}

footer div {
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-color: white;
    border-radius: 25%;
    padding: 3px;
    margin: 5px 0;
    width: 35%;
    text-align: center;

}

footer div a {
    color: white;
    text-decoration: none;
}


/* commun style */
main h1 {
    color: #1bddaa;
}

article img {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    border: solid 2px;
    border-color: #1bddaa;
}

article {
    display: grid;
    margin: 0 2em;
    grid-template-columns: 20% 20% 20% 20% 10% 10%;
    grid-template-rows: 10% 10% 60% 20%;
    background-color: #1c3146;
    border: 2px solid;
    border-color: white;
    padding-left: 10%;
    padding-right: 10%;
    height: 95%;
    align-self: center;
}


article h2 {

    grid-column: 1/-1;
    grid-row: 2;
}

.pictHori p {
    height: 20%;
    text-size-adjust: auto;
    grid-column: 1 /-1;
    grid-row: 4;
}

.pictHori img {
    grid-column: 1/-1;
    grid-row: 3;
    max-height: 80%;
    max-width: 100%;

}

.pictVert p {
    height: 20%;
    text-size-adjust: auto;
    grid-column: 4 /-1;
    grid-row: 3/-1;
}

.pictVert img {
    grid-column: 1/3;
    grid-row: 3 / -1;
    max-height: 95%;
    max-width: 80%;

}

.prevButton {
    grid-column: 2;
    grid-row: 1;
    background-color: #071d34;
}

.prevButton:hover {

    background-color: #1c3146;
    border-color: #1bddaa;
}


.prevButton img {
    border-radius: 50%;
    border: none;
}

.homeButton {
    grid-column: 3;
    grid-row: 1;
    background-color: #071d34;
}

.homeButton:hover {

    background-color: #1c3146;
    border-color: #1bddaa;
}


.homeButton img {
    border-radius: 50%;
    border: none;
}

.nextButton {
    grid-column: 4;
    grid-row: 1;
    background-color: #071d34;
}

.nextButton:hover {
    background-color: #1c3146;
    border-color: #1bddaa;
}


.nextButton img {
    border-radius: 50%;
    border: none;
}

.showed {
    width: 100%;
    height: 95%;
    padding-bottom: 5%;

}


.hidden {
    display: none;
    visibility: hidden;
}


.mainButton {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}

.mainButton::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.mainButton:hover::before {
    width: 105%;
}

.mainButton:hover {
    color: #111;
}


/* main page */
.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 10%;
}




/* Resize */

@media screen and (max-width: 800px) {
    nav ul {
        display: flex;

        width: 100vw;
    }

    nav ul a {
        border-radius: 0%;
        width: 25%;


    }

    nav ul a:hover {
        border-radius: 0%;

    }

    main {
        grid-column: 1 / -1;
        grid-row: 2;

    }

    #leftAside {
        grid-column: none;
        grid-row: none;

    }

    #rightAside {
        grid-column: none;
        grid-row: none;

    }

    footer div {
        display: flex;
        flex-direction: column;
        border: solid 2px;
        border-color: white;
        border-radius: 0%;
        padding: 3px;
        margin: 5px 0;
        width: 45%;
        text-align: center;

    }

    .showed {
        display: none;
        visibility: hidden;
    }
}


@media (pointer:none), (pointer:coarse) {
    nav ul {
        display: flex;

        width: 100vw;
    }

    nav ul a {
        border-radius: 0%;
        width: 25%;


    }

    nav ul a:hover {
        border-radius: 0%;

    }

    main {
        grid-column: 1 / -1;
        grid-row: 2;

    }

    #leftAside {
        grid-column: none;
        grid-row: none;

    }

    #rightAside {
        grid-column: none;
        grid-row: none;

    }

    footer div {
        display: flex;
        flex-direction: column;
        border: solid 2px;
        border-color: white;
        border-radius: 0%;
        padding: 3px;
        margin: 5px 0;
        width: 45%;
        text-align: center;

    }

    .showedLeft {
        display: none;
        visibility: hidden;
    }
}
