* {
    margin: 0;
}
body {
    margin: 0 ;
    background-color: #071d34;
    color: white;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-auto-rows: 20vh 70vh 10vh;
}

/* Grid Placement */
main {
    grid-column: 2;
    grid-row: 2;   
}
#leftAside {
    grid-column: 1 ;
    grid-row: 2;
    
}
#rightAside {
    grid-column: 3;
    grid-row: 2;
    
}



/* header style */
header {
    grid-column: 1 / -1;
    grid-row: 1;
    /* background:  url(../images/webBanner.jpg) no-repeat center center;
    background-size: cover;  */
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    /* border-bottom: 2em solid;
    border-color: black; */
}


.firstLine {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
}

header div img {
    grid-column: 1 ;
    grid-row: 1;
    border-radius: 50%;
    border: solid 2px;
    max-width:100%;
    max-height:10vh;
    width: auto;
    height: auto;
}


.title {
    width: 50%;
}
#endblank{
    max-width:100%;
    max-height:10vh;
    width: auto;
    height: auto;
}




/* nav style */
nav {
    background-color: #1c3146; 
}
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul a {
    margin: 10px 0;
    padding: 10px  0;
    width: 20% ;
    border: 3px solid;
    border-color: white;

    list-style: none;
    background-color: #071d34;
    color: white;
    font-style: none;
    text-decoration: none;
}

nav ul a:hover {
    border-color: #1bddaa;

    list-style: none;
    background-color: #1c3146;
    color: #1bddaa;
    font-style: none;
    text-decoration: none;
}


/* footer style */

footer {
    grid-column: 1 / -1;
    grid-row: 3;
    /* width: 100%; */
    background-color: #1c3146;
    display: flex;
    justify-content: space-around;
}

footer div {
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-color: white;
    border-radius: 25%;
    padding: 3px;
    margin: 5px 0;
    width: 35%;
    text-align: center  ;
    
}

footer div a {
    color: white;
    text-decoration: none;
}


/* commun style */
main h1 {
    color: #1bddaa;
}

article img {
    display: block;
    margin: auto; 
    width: auto;
    height: auto;
    border: solid 2px;
    border-color: #1bddaa;
}

.vertical {
    max-width:100%;
    max-height:60%;
}

.horizontal {

    max-width:80%;
    max-height:60%;

}


/* Resize */

@media screen and (max-width: 600px) {
    nav ul {
        display: flex;

        width: 100vw;
    }
    
    nav ul a {
        border-radius: 0%;
        width: 25%;


    }
    
    nav ul a:hover {
        border-radius: 0%;

    }

    main {
        grid-column: 1 / -1;
        grid-row: 2;
        
    }
    #leftAside {
        grid-column: none ;
        grid-row: none;
        
    }
    #rightAside {
        grid-column: none;
        grid-row: none;
        
    }
    
    footer div {
        display: flex;
        flex-direction: column;
        border: solid 2px;
        border-color: white;
        border-radius: 0%;
        padding: 3px;
        margin: 5px 0;
        width: 45%;
        text-align: center  ;
        
    }
 }
