body {
    margin: 0 ;
    background-color: rgb(89, 89, 208);
    color: white;
}

/* header style */
header {
    background:  url(../images/webBanner.jpg) no-repeat center center;
    background-size: cover; 
    text-align: center;
    color: white;
    height: auto;
}


/* nav style */
nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul a {
    padding: 10px  0;
    width: 15%;
    border: 3px solid;
    border-color: white;
    border-radius: 50%;
    list-style: none;
    background-color: rgb(71, 71, 186);
    color: white;
    font-style: none;
    text-decoration: none;
}

nav ul a:hover {
    height: 100%;
    border-color: rgb(71, 71, 186);
    border-radius: 50%;
    list-style: none;
    background-color: white;
    color: rgb(71, 71, 186);
    font-style: none;
    text-decoration: none;
}


/* footer style */

footer {
    background-color: gray;
    display: flex;
    justify-content: center space-around;
}

footer div {
    display: flex;
    flex-direction: column;
}
