


#choiceMenuDiv {
    width: 90%;
    height: 90%;
    padding: 0 5% 5% 5%;
    


}
.buttonMenu {
    background-color: #1c3146;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}




.actionMenu {
    height: 10%;

}

article h1 {
    height: 10%;
}

article p {
    height: 20%;
    text-size-adjust: auto;
}

article a {
    color: white;
    text-decoration: none;
}

article a:hover {
    color: #17C3B2;
}

main {
    text-align: center;
}